In [1]:
import numpy as np
import scipy as scy
import sklearn
import pandas as pd 
from path import Path
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
from sklearn.preprocessing import StandardScaler
data_scaler = StandardScaler()
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
file_path = Path("sampleData.csv")
sample_df = pd.read_csv(file_path)

In [3]:
df2 = sample_df.copy()
df2['facility_name'] = le.fit_transform(df2['facility_name'])
df2['country_id']=le.fit_transform(df2['country_id'])

In [4]:
sample_df.head()

,country_id,facility_id,facility_name,cleanwater,waste_disposal,PPE_preparance,disinfectant,guideline,capacity,healthcare_workers
0,congo,1,random1,3,2,5,2,4,50,150
1,congo,2,random2,4,2,5,3,4,50,150
2,congo,3,random3,5,3,4,3,5,70,210
3,congo,4,random4,2,4,3,4,2,60,180
4,congo,5,random5,3,3,2,5,2,70,210

In [5]:
df2.head()

,country_id,facility_id,facility_name,cleanwater,waste_disposal,PPE_preparance,disinfectant,guideline,capacity,healthcare_workers
0,0,1,0,3,2,5,2,4,50,150
1,0,2,11,4,2,5,3,4,50,150
2,0,3,12,5,3,4,3,5,70,210
3,0,4,13,2,4,3,4,2,60,180
4,0,5,14,3,3,2,5,2,70,210

In [6]:
sample_data_scaled = data_scaler.fit_transform(df2)

In [7]:
sample_data_scaled[:5]

array([[ 0.        , -1.64316767, -1.64316767, -0.35564338, -0.98209275,
         1.26735736, -1.24229911,  0.91863042, -0.93961848, -0.93961848],
       [ 0.        , -1.46059349,  0.36514837,  0.48900965, -0.98209275,
         1.26735736, -0.39931043,  0.91863042, -0.93961848, -0.93961848],
       [ 0.        , -1.2780193 ,  0.54772256,  1.33366267, -0.23570226,
         0.53766676, -0.39931043,  1.79132933,  0.33557803,  0.33557803],
       [ 0.        , -1.09544512,  0.73029674, -1.20029641,  0.51068823,
        -0.19202384,  0.44367825, -0.82676738, -0.30202022, -0.30202022],
       [ 0.        , -0.91287093,  0.91287093, -0.35564338, -0.23570226,
        -0.92171445,  1.28666694, -0.82676738,  0.33557803,  0.33557803]])

In [8]:
df2['total_score']= df2['cleanwater'] + df2['waste_disposal'] + df2['PPE_preparance'] + df2['guideline']

In [9]:
# Define the features set.
X = df2.copy()
X = X.drop("total_score", axis=1)
X.head()

,country_id,facility_id,facility_name,cleanwater,waste_disposal,PPE_preparance,disinfectant,guideline,capacity,healthcare_workers
0,0,1,0,3,2,5,2,4,50,150
1,0,2,11,4,2,5,3,4,50,150
2,0,3,12,5,3,4,3,5,70,210
3,0,4,13,2,4,3,4,2,60,180
4,0,5,14,3,3,2,5,2,70,210

In [10]:
# Define the target set.
y = df2["total_score"].values
y[:5]

array([14, 15, 17, 11, 10], dtype=int64)

In [11]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=20)

# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
# Creating the decision tree classifier instance.
model = tree.DecisionTreeClassifier()
# Fitting the model.
model = model.fit(X_train_scaled, y_train)

In [13]:
# Making predictions using the testing data.
predictions = model.predict(X_test_scaled)